$primary-color: #3498db;
$secondary-color: #2ecc71;
$darkgray: #303030;
$accent1: #ffbf00; // Corrected variable name


* {
    box-sizing: border-box; // Include box-sizing for all elements
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
}

body {
    padding-top: 60px;
    background-color: #ECF0F5 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.container-fluid{
    padding: 0 10px !important;
}

.navbar {
    background-color: $darkgray !important;
    padding: 5px 0 !important;
    height: 60px;
}

.fixed-top{
    background-color: $darkgray !important;
    padding: 5px 0 !important;
}

.navbar-brand h2 {
    font-style: italic;
    color: $accent1;
}

.navbar-brand span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand img {
    height: 20px;
}

.sidebar-container {
    position: relative;
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #343a40;
    color: #fff;
    transition: width 0.3s ease;
    overflow-x: hidden;
    z-index: 2000;
}

.sidebar.shrink {
    width: 50px;
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #B8C7CE;
    transition: background-color 0.3s;
}

.sidebar a span {
    display: inline;
}

.sidebar.shrink a span {
    display: none;
}

.sidebar a i,
.sidebar a img {
    margin-right: 10px; /* Adjust the margin as needed */
    font-size: 1.2rem; /* Adjust the font size as needed */
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar a:hover {
    background-color: #555;
}

.sidebar a.active {
    // background-color: #4CAF50; /* Active link background color */
    color: white; /* Active link text color */
    border-left: 3px solid #ffbf00;
    font-weight: bold;
}

/* Additional styling for the toggle button */
#toggleButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 260px;
    color: white;
    z-index: 2000; /* Ensure a higher z-index value */
    transition: left 0.3s;
}

.signup-container,
.login-container {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.signup-container .form-group,
.login-container .form-group {
    margin-bottom: 20px;
}

.signup-container h2,
.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.content {
    width: calc(100% - 250px);
    height: calc(100vh - 60px);
    margin-left: 250px;
    padding: 15px;
    transition: margin-left 0.3s ease;
}

.content.expand {
    width: calc(100% - 50px);
    height: calc(100vh - 60px);
    margin-left: 50px;
    padding: 15px;
    transition: margin-left 0.3s ease;
}

.content > div {
    width: 100%;
    height: calc(100vh - 80px);
}

.box {
    position: relative;
    border-radius: 3px;
    background-color: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow:  0 1px 1px rgba(0,0,0,0.1);
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header .box-title {
    display: inline-block;
    font-size: 14px;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    flex: 1; /* Set flex to distribute available space evenly among cards */
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    transition: min-width 0.3s ease;
    transition: max-width 0.3s ease;
}
.booked .card {
    min-width: calc((100% - 60px) / 5);
    max-width: calc((100% - 60px) / 5);
}
.dispathing .card {
    min-width: calc((100% - 60px) / 5); 
    max-width: calc((100% - 60px) / 5);
}
.dispathing2 .card {
    min-width: calc((100% - 75px) / 6); 
    max-width: calc((100% - 75px) / 6);
}

.card .icon-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card i {
    font-size: 40px;
    width: 50px;
    text-align: center;
}

.card .number {
    font-size: 20px;
    font-weight: bold;
}

.row {
    padding: 0 15px !important;
}

.row > * {
    padding: 0 !important;
}

.chart {
    padding: 0;
    padding-left: 15px !important;
}

.chart > div {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100% !important;
    height: 100%;
}

.apexcharts-legend {
    top: 0 !important;
}

button h6{
    width: fit-content !important;
    font-size: 12px !important;
}


.table-container {
    margin-top: 20px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.table-pagination {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
    font-size: 12px;
}

th {
    vertical-align: middle;
    text-align: center !important;
}

.form-control {
    border: 1px solid black !important;
}

.calendar {
    border: 1px solid black;
    width: 100%;
}

.calendar tr{
    border: 1px solid black;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar tr th,
.calendar tr td{
    border: 1px solid black;
}

.calendar tr td .td_header{
    display: flex;
    justify-content: space-between;
}

.calendar tr td .td_header span{
    font-size: 16px;
    font-weight: bold;
}

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

// timeline
.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.timeline>li {
    position: relative;
    margin-bottom: 15px;
    
}

.timeline>li>.timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 40px;
    padding: 0;
    position: relative;
}

.timeline>li>.fa{
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 0px;
    top: 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff !important;
    z-index: 1;
}

.bg-blue {
    background-color: #0073b7 !important;
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #f39c12 !important;
}

.timeline>li>.timeline-item>.time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px;
}

.timeline>li>.timeline-item>.timeline-header {
    margin: 0;
    color: #3c8dbc;
    border-bottom: 1px solid #f4f4f4;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 1.1;
}

.timeline>li>.timeline-item>.timeline-body span{
    font-weight: bold;
}

.timeline>li>.timeline-line{
    position: absolute;
    top: 15px;
    left: 12px;
    height: 100%;
    width: 5px;
    background-color: gray;
}

.timeline li button{
    margin-top: 10px;
}